<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prime Pizza | Seafood</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

            /* NavBar */

            .brand{
                
                font-size: x-large;
                
            }

            .active{
                color: black;
            }

            .colorme{
                color:white;
                font-size: large;
                font-weight: bolder;
            }
            .site-footer
              {
                background-color:#26272b;
                padding:45px 0 20px;
                font-size:15px;
                line-height:24px;
                color:#737373;
              }
              .site-footer hr
              {
                border-top-color:#bbb;
                opacity:0.5
              }
              .site-footer hr.small
              {
                margin:20px 0
              }
              .site-footer h6
              {
                color:#fff;
                font-size:16px;
                text-transform:uppercase;
                margin-top:5px;
                letter-spacing:2px
              }
              .site-footer a
              {
                color:#737373;
              }
              .site-footer a:hover
              {
                color:#3366cc;
                text-decoration:none;
              }
              .footer-links
              {
                padding-left:0;
                list-style:none
              }
              .footer-links li
              {
                display:block
              }
              .footer-links a
              {
                color:#737373
              }
              .footer-links a:active,.footer-links a:focus,.footer-links a:hover
              {
                color:#3366cc;
                text-decoration:none;
              }
              .footer-links.inline li
              {
                display:inline-block
              }
              .site-footer .social-icons
              {
                text-align:right
              }
              .site-footer .social-icons a
              {
                width:40px;
                height:40px;
                line-height:40px;
                margin-left:6px;
                margin-right:0;
                border-radius:100%;
                background-color:#33353d
              }
              .copyright-text
              {
                margin:0
              }
              @media (max-width:991px)
              {
                .site-footer [class^=col-]
                {
                  margin-bottom:30px
                }
              }
              @media (max-width:767px)
              {
                .site-footer
                {
                  padding-bottom:0
                }
                .site-footer .copyright-text,.site-footer .social-icons
                {
                  text-align:center
                }
              }
              .social-icons
              {
                padding-left:0;
                margin-bottom:0;
                list-style:none
              }
              .social-icons li
              {
                display:inline-block;
                margin-bottom:4px
              }
              .social-icons li.title
              {
                margin-right:15px;
                text-transform:uppercase;
                color:#96a2b2;
                font-weight:700;
                font-size:13px
              }
              .social-icons a{
                background-color:#eceeef;
                color:#818a91;
                font-size:16px;
                display:inline-block;
                line-height:44px;
                width:44px;
                height:44px;
                text-align:center;
                margin-right:8px;
                border-radius:100%;
                -webkit-transition:all .2s linear;
                -o-transition:all .2s linear;
                transition:all .2s linear
              }
              .social-icons a:active,.social-icons a:focus,.social-icons a:hover
              {
                color:#fff;
                background-color:#29aafe
              }
              .social-icons.size-sm a
              {
                line-height:34px;
                height:34px;
                width:34px;
                font-size:14px
              }
              .social-icons a.facebook:hover
              {
                background-color:#3b5998
              }
              .social-icons a.twitter:hover
              {
                background-color:#00aced
              }
              .social-icons a.linkedin:hover
              {
                background-color:#007bb6
              }
              .social-icons a.dribbble:hover
              {
                background-color:#ea4c89
              }
              @media (max-width:767px)
              {
                .social-icons li.title
                {
                  display:block;
                  margin-right:0;
                  font-weight:600
                }
              }


    </style>
</head>
<body>
    <div class="header">
        <!--  NavBar  -->
        <div class="container-fluid">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary  ">
          <div class="container">
          <h1><a class="navbar-brand" href="home"><span class="brand">Prime</span><span class="badge badge-secondary"> Pizza</span></a></h1>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="home"><span class="colorme">Home</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><span class="colorme">Menu</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><span class="colorme">Contact Us</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><span class="colorme">About Us</span></a>
              </li>
              <li class="nav-item">
                <a href="/users/logout" class="btn btn-secondary" >Logout</a>
              </li>  
                
            </ul>
          </div>
        </div>
        </nav>
        </div>
        </div>
        <!-- Navbar Closed -->
    

        <hr class="my-4">
        <div class="container">
        <a class="btn btn-primary btn-lg" href="home" role="button">Back</a>
        <div class="main2" style="margin-top: 10px;">
            
                <h1><center>Sea Food</center></h1>
                <hr class="my-4">
                <br>
        <div class="row row-cols-1 row-cols-md-3">
          <% for(var sea of seafood) {%>
            <div class="col mb-4">
              <div class="card" style="width: 15rem;">
                <img src="<%= sea.image_url %>" class="card-img-top" alt="<%= sea.title %>" style="height: 14rem;">
                <div class="card-body">
                  <a href="/seafood/<%= sea.id %>">
                  <h5 class="card-title"><%= sea.title %></h5>
                  </a>
                  <p class="card-text"><b>Publisher</b> -- <%= sea.publisher %></p>
                </div>
              </div>
            </div>
            
            <% } %>
          </div>
                    
          </div>
          </div>
          

    <!-- Footer-->

      <!-- Site footer -->
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify">This is a Web Development Project Built using HTML5,CSS3 ,javaScript , Nodejs , expressjs , mongodb. In this project you can order online Your favourite dishes. You can also customize your order before ordering,we gives fastest delivery possible .</p>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Categories</h6>
              <ul class="footer-links">
                <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
                <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
                <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
                <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
                <li><a href="http://scanfcode.com/category/android/">Android</a></li>
                <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
              </ul>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="http://scanfcode.com/about/">About Us</a></li>
                <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
           <a href="#">Jaypee University of Engg and tech</a>.
              </p>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
              </ul>
            </div>
          </div>
        </div>
  </footer>

    
    
    <script src="https://kit.fontawesome.com/c59e4d7b3d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>